
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




.contanier {
  max-width: 100%;
  width: 100%;
  height: 100vh;
  margin: auto;
  /* padding-left: 25px; */
  /* padding-right: 25px; */
  font-family: sans-serif;
  /* border: 1px solid red; */
}

.SearchBar{
  margin: auto;
  position: relative;
  width: 300px;
  height: 42px;
  border: 4px solid #2980b9;
  padding: 0px 10px;
  border-radius: 50px;
}
.SB1 {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.search{
  border: none;
  height: 100%;
  width: 100%;
  padding: 0px 5px;
  border-radius: 50px;
  font-size: 18px;
  font-family: "Nunito";
  color: #424242;
  font-weight: 500;
}
.search:focus{
  outline: none;
}
.SB2{
  font-size: 26;
  color: #2980b9;
}

.header{
  width: 100%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}
.header {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.header a {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}

.header a::after {
  content: "";
  height: 3px;
  width: 0%;
  background: rgb(0, 85, 255);
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.header a:hover::after {
  width: 100%;
}
.title {
  margin-bottom: 70px;
  width: 260px;
  height: 60px;
  /* border: 1px solid red;  */
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.tech {
  color: rgb(0, 85, 255);
}
.menu {
  width: 400px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  width: 190px;
  height: 26px;
  border-radius: 4px;
  border: 1px solid #bcd0e5;
  background: #fff;
}
.search-box {
  position: relative;

  width: 370px;
  height: 90px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.search-box input {
  width: 150px;
}
.logIn_btn {
  width: 150px;
  height: 40px;
  background-color: rgb(0, 85, 255);
  border: 1px solid rgb(0, 85, 255);

  border-radius: 10px;
}
.logIn_btn a {
  text-decoration: none;
  list-style: none;
  color: white;
}
.text {
  padding-left: 30px;
}

.text {
  background-image: url("search.png");
  background-size: 20px;
  background-position: 8px 50%;
  background-repeat: no-repeat;
}
.menu a {
  text-decoration: none;
  color: #000;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.center-text h2{
  color: black;
  font-size: 28px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 30px;
  margin-top: -600px;
}


.productss .main .p1{
  flex: 1 1 30rem;
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
  border-radius: .5rem;
  border: .1rem solid rgba(0, 0, 0, .1);
  position: relative;
  text-align: center;
  padding-top: 2rem;
  overflow: hidden;
  
}

.productss{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  gap: 2rem;
}
.main{
  position: relative;
  transition: all .40s;
}
.p1 img:hover{
  transform: scale(0.9);
}
.footer{
width: 100%;
height: 300px;
/* border: 1px solid red; */
/* background-color: blue; */
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
margin: 20px 10px;
background: rgba(229, 225, 225, 1.00);
}

.right_side{
  width: 200px;
  height: 190px;
  border: 1px solid red;
  display: flex;
flex-direction: column;
align-items: center;
font-size: 25px;
}
.left_side{
  width: 200px;
  height: 190px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
align-items: center;
font-size: 25px;
}
.right_side a{
text-decoration: none;
color: black;
}
.left_side a{
  text-decoration: none;
  color: black;
}
.social{
  width: 300px;
  height: 150px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
align-items: center;
font-size: 25px;
}
.social_div{

}