.screen {
  width: 100%;
  height: 100vh;
  /* background-color: lightslategray; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.title{
  width: 500px;
  height: 50px;
  /* border: 1px solid red; */
display: flex;
justify-content: center   ;
  align-items: center;
  box-shadow: 0 1px 50px rgba(0, 0, 0, 0.1); 
  border-radius: 10px;
}
.forms {
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-div {
  width: 500px;
  height: 490px;
  padding: 30px 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 50px rgba(0, 0, 0, 0.1); 
}
.form-row {
  display: flex;
  justify-content: space-between;
}
.form_column {
  width: 230px;
  height: 50px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-top: 13px;

}
.button-submit {
  background-color: rgb(35, 7, 135);
  border: rgb(0, 81, 255);
  width: 170px;
  height: 40px;
  border-radius: 10px;
  color: white;
 
}
.button-submit:hover{
  /* background-color: rgb(184, 12, 12); */
  opacity: 0.5;
  /* border-color: black; */
}
.btn {
  display: flex;
  width: 300px;
  height: 50px;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  margin-top: 40px;
}
.box {
  min-height: 22px;
  margin-top: 10px;
/* border: 2px solid grey; */
  /* background-color: lightgrey; */
  padding-left: 7px;
  /* color: black; */
  width: 200px;
  border-radius: 5px;

}


