.screen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background_contanier{
  position: relative;
  width: 100%;
}
.registerform h1{
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: white;
}
.forms {
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
body{
  background-image: url(contanier.jpg);
  background-position: center;
  /* background-size: cover; */
  /* width: 100%;
  height: 100vh; */
}
.registerform {
  position: absolute;
  width: 500px;
  height: 530px;
  padding: 30px 30px;
border: 2px solid white;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  box-shadow: 0 1px 100px rgba(0, 0, 0, 0.1);
 
}
.form-row {
  display: flex;
  justify-content: space-between;
}
.form_column {
  width: 230px;
  height: 50px;
  display: flex;
  flex-direction: column;
  margin: 20px 5px;
  margin-top: 13px;
  position: relative;

  /* border: 1px solid white; */

}
.box{
width: 90%;
height: 70px;
background: transparent;
color: white;
font-size: 12px;

}
input::placeholder{
  color: white;
}
.button-submit:hover {
  opacity: 0.5;
}
.button-submit {
  width: 300px;
  /* border: 1px solid red; */
  height: 80px;
  align-items: center;
  display: flex;
  justify-content: center;

}
.btn {
  padding: 8px;
  border: none;
  border-radius: 3px;
  display: flex;
  width: 170px;
  background-color: rgb(0, 85, 255);
  height: 44px;
  color: white;
  align-items: center;
  justify-content: center;

}




.div {
  width: 230px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
.div p{
  color: white;

}
.div a {
  text-decoration: none;
  color: red;
}
.div a:hover {
  color:white;
}
label{
  color :white;

}