.screen {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  /* padding: 0px 0px; */

  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("contanier.jpg"); */
}
.bacground_contanier{
  position: relative;
  width: 1100px;
  height: 1000px;
}
.title {
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.forms {
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.registerform {

  position: absolute;
  width: 500px;
  height: 460px;
  padding: 30px 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 50px rgba(0, 0, 0, 0.1);
}
.form-row {
  display: flex;
  justify-content: space-between;
}
.form_column {
  width: 230px;
  height: 50px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-top: 13px;
}
.button-submit:hover {
  opacity: 0.5;
}
.button-submit {
  width: 300px;
  /* border: 1px solid red; */
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.btn {
  padding: 8px;
  border: none;
  border-radius: 3px;
  display: flex;
  width: 170px;
  background-color: rgb(0, 85, 255);
  height: 44px;
  color: white;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  /* margin-top: 40px; */
}

.box {
  min-height: 22px;
  margin-top: 10px;
  /* border: 2px solid grey; */
  /* background-color: lightgrey; */
  padding-left: 7px;
  /* color: black; */
  width: 200px;
  border-radius: 5px;
}

.div {
  width: 230px;
  height: 40px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-right: 270px;
 margin-bottom: 30px; */
}
.div a {
  text-decoration: none;
  color: red;
}
.div a:hover {
  color: black;
}
