h1 {font-family: 'Poppins', sans-serif; font-weight: 600;}
h2 {font-family: 'Poppins', sans-serif; font-weight: 500;}
p {font-family: 'Poppins', sans-serif; font-weight: 400;}
a {font-family: 'Poppins', sans-serif;font-weight: 400;}
label {font-family: 'Poppins', sans-serif;}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
   padding: 0px;
    margin: 0px;
    -webkit-font-smoothing: subpixel-antialiased;
}


.maincontainer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    min-height: 55vh;
    width: 80%;
    border-radius: 20px;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 75px;
    padding: 50px;
    background-color: #eceff1;
    -webkit-box-shadow: 0px 0px 40px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 40px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 40px 5px rgba(0,0,0,0.75);
}

#aboutphoto{
    width: 100%;
    min-width: 20vh;
    max-width: 40vh;
    border-radius: 40px;
    margin: auto;
}

.forma {
    margin: auto;
    width: 50%;
}

input[type=text] {
    width: 100%;
    padding: 12px 5px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #00897b;
    color: white;
}

input[type=email] {
    width: 100%;
    padding: 12px 5px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #00897b;
    color: white;
}

::placeholder {
  color: white;
  opacity: 1;
}

input[type=password] {
    width: 100%;
    padding: 12px 5px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #00897b;
    color: white;
}



#city {
   width: 100%;
    height: 35px;
    padding: 0px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #00897b;
    color: white;
    -webkit-appearance: none;
}

textarea {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    width:100%;
    height: 20vh;
    background-color: #00897b;
    padding: 5px 5px;
    margin: 8px 0;
    border: 1px solid #ccc;
    color: white;
    resize: none;
}

.section6{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #eceff1;
}
.section6 h1{
    padding-top: 20px;
    text-align: center;
}

.article {
    padding: 75px 0px 100px 0px;
    width: 350px;
    color: black;
    height: auto;
}
.blog {
    display: flex;
    align-items:baseline;
    justify-content: space-evenly;
    flex-wrap:wrap;
    max-width: 1250px;
    margin: 0 auto;
}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: black;
}


.text {
  color: white;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;

}

.pika {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .pika:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


  .main {
 
    width: 100%;
    padding: 50px 20px;
    background-size: 100%;
    background-position: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
   background-image: url('./img/blabla.jpg');
   background-repeat: no-repeat;
   
  }
  .paragraph_main {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 500px;
    display: flex;
    align-items: center;
  }
  
  .paragraph_main h1 {
    font-size: 56px;
    font-weight: 700;
    width: 500px;
    height: 100px;
    margin-top: 150px;
  }
  .paragraph_main h3 {
    margin: 20px;
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: center;
  }
  .paragraph_main a {
    align-items: center;
    width: 190px;
    height: 50px;
    text-decoration: none;
    display: flex;
    justify-content: center;
  }
  