*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

@media (max-width: 700px) {
}
body {
  padding-top: 130px;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}
.contanier {
  width: 100%;
  /* height: 100vh; */
  margin: auto;
  font-family: sans-serif;

}
.header {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.header a {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}
.header a::after {
  content: "";
  height: 3px;
  width: 0%;
  background: rgb(0, 85, 255);
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.header a:hover::after {
  width: 100%;
}
.title {
  margin-bottom: 70px;
  width: 260px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.tech {
  color: rgb(0, 85, 255);
}
.menu {
  width: 400px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  width: 190px;
  height: 26px;
  border-radius: 4px;
  border: 1px solid #bcd0e5;
  background: #fff;
  background-image: url("search.png");
  background-size: 20px;
  background-position: 8px 50%;
  padding-left: 30px;
  background-repeat: no-repeat;
}
.search-box {
  position: relative;

  width: 370px;
  height: 90px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.search-box input {
  width: 150px;
}
.logIn_btn {
  width: 150px;
  height: 40px;
  background-color: rgb(0, 85, 255);
  border: 1px solid rgb(0, 85, 255);

  border-radius: 10px;
}
.logIn_btn a {
  text-decoration: none;
  list-style: none;
  color: white;
}

.menu a {
  text-decoration: none;
  color: #000;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main {
  width: 100%;
  height: 100vh;
  background-size: 100%;
  background-position: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
 background-image: url('blabla.jpg');
 /* background-size: cover; */
 background-repeat: no-repeat;
 /* margin-bottom: 90px; */
 /* border: 2px solid red; */
}

.paragraph_main {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 500px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
}

.paragraph_main h1 {
  font-size: 56px;
  font-weight: 700;
  /* border: 1px solid red; */
  width: 500px;
  height: 100px;
  margin-top: 150px;
}
.paragraph_main h3 {
  margin: 20px;
  width: 500px;
  height: 50px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}
.paragraph_main a {
  align-items: center;
  width: 190px;
  height: 50px;
  /* border: 1px solid red; */
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.button {
  display: inline-block;
background-color: darkred;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
}

.loginForm {
  width: 500px;
  height: 200px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  width: 100%;
  height: 250px;
    background-color: #24262b;
    margin: 0;
     /* padding: 10px 0; */
     align-items: center;
     display: flex;
     justify-content: center;
     /* border: 3px solid red; */
  
  }
  .row{
    width: 100%;
    height: 250px;
    /* border: 1px solid white; */
    align-items: center;
    display: flex;
  justify-content: space-around;
  /* margin: 10px; */
  }
  .footer-col{
     width: 20%;
     height: 200px;
     padding: 0 15px;
     /* border: 1px solid white; */
  }
  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    /* border: 1px solid white; */
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: rgb(0, 85, 255);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 5px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  
  /* responsive */
  /*@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }*/
/* responsive */
/*@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}*/
